{{ define "main" }}
{{ if isset .Site.Params "description" }}
<div class="font-serif text-medium-red-violet-400 pt-3">
	{{ .Site.Params.Description | markdownify }}
</div>
<hr  class="pt-2"/>
{{end}}

<div>
	<section data-home-posts-container>
		{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
		{{ range $pages }}<div data-home-post-item>
			{{ partial "summary.html" . }}
		</div>
		{{ end }}
	</section>
</div>
{{ end }}

{{ define "footer" }}
<hr data-home-pager-hr />
<ul data-home-pager class="font-serif">
	<li class="page-item">
		<a href="#" class="page-link" data-home-first aria-label="First"><span aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevrons-left h-4 w-4 relative -bottom-1">
				<polyline points="11 17 6 12 11 7"></polyline>
				<polyline points="18 17 13 12 18 7"></polyline>
			</svg>
		</span></a>
	</li>
	<li class="page-item">
		<a href="#" class="page-link" data-home-prev aria-label="Previous"><span aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevron-left h-4 w-4 relative -bottom-1">
				<polyline points="15 18 9 12 15 6"></polyline>
			</svg>
		</span></a>
	</li>
	<li data-home-pages-wrap>
		<div data-home-pages></div>
	</li>
	<li class="page-item">
		<a href="#" class="page-link" data-home-next aria-label="Next"><span aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevron-right h-4 w-4 relative -bottom-1">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</span></a>
	</li>
	<li class="page-item">
		<a href="#" class="page-link" data-home-last aria-label="Last"><span aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevrons-right h-4 w-4 relative -bottom-1">
				<polyline points="13 17 18 12 13 7"></polyline>
				<polyline points="6 17 11 12 6 7"></polyline>
			</svg>
		</span></a>
	</li>
</ul>
{{ end }}